<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{{ title }}</title>
  </head>

  <body>
  <div class="container">
  <!-- <div> -->
    <h1>{{ title }}</h1>

    <hr>
    <h2>Path Analysis</h2>
    <p>This report shows message_flow and response_time for each target path.</p>
    <ul>
      {% for path_info in stats_path %}
      <li><a href="path/index.html#{{ path_info['target_path_name'] }}">{{ path_info["target_path_name"] }}</a></li>
      {% endfor %}
    </ul>

    <hr>
    <h2>Node Analysis</h2>
    <p>This report shows detailed information (Frequency, Period and Latency) for callback functions in each package.</p>
    <ul>
      {% for package_name in package_list %}
      <li><a href="node/{{ package_name }}/index.html">{{ package_name }}</a></li>
      {% endfor %}
    </ul>

    <h3>Subscription Callback Check</h3>
    <p>This report shows subscription callback functions which doesn't wake up appropriately by comparing frequency of callback function and topic frequency.</p>
    <ul>
      <li><a href="check_callback_sub/index_warning.html">Callbacks with warning</a></li>
      <li><a href="check_callback_sub/index.html">(All Callbacks)</a></li>
    </ul>
    <h3>Timer Callback Check</h3>
    <p>This report shows timer callback functions which doesn't wake up appropriately by comparing frequency of callback function and timer setting.</p>
    <ul>
      <li><a href="check_callback_timer/index_warning.html">Callbacks with warning</a></li>
      <li><a href="check_callback_timer/index.html">(All Callbacks)</a></li>
    </ul>


  </div>  <!-- container -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
